<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>ACTIVITIES</title>
</head>
<body>
<h1>Adventure Image</h1>
<img id="adventureImage" src="" alt="Adventure Image">
<h1>Nature Image</h1>
<img id="natureImage" src="" alt="Nature Image">
<h1>Hill Station Image</h1>
<img id="hillStationImage" src="" alt="Hill Station Image">

<script>
        function displayImages() {
            fetch('/adventure')
                .then(response => response.text())
                .then(imageUrl => {
                    document.getElementById('adventureImage').src = imageUrl;
                })
                .catch(error => console.error('Error fetching adventure image URL:', error));

            fetch('/nature')
                .then(response => response.text())
                .then(imageUrl => {
                    document.getElementById('natureImage').src = imageUrl;
                })
                .catch(error => console.error('Error fetching nature image URL:', error));

            fetch('/hills')
                .then(response => response.text())
                .then(imageUrl => {
                    document.getElementById('hillStationImage').src = imageUrl;
                })
                .catch(error => console.error('Error fetching hill station image URL:', error));
        }

        window.onload = displayImages;
    </script>

</body>
</html>